<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dietdev.mydietapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dietdev.mydietapplication.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dietdev.mydietapplication.AddEntryActivity"
            android:label="@string/title_activity_add_entry"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.AddEntryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dietdev.mydietapplication.ViewRecordsActivity"
            android:label="@string/title_activity_view_records"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.ViewRecordsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dietdev.mydietapplication.AddMeal"
            android:label="@string/title_activity_add_meal" >
            <intent-filter>
                <action android:name="android.intent.action.AddMeal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dietdev.mydietapplication.AddIngredient"
            android:label="@string/title_activity_add_ingredient" >

            <intent-filter>
                <action android:name="android.intent.action.AddIngredient" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

    <supports-screens android:xlargeScreens="true" />

</manifest>
